/* =================================================================
*  Reset some user-agent CSS values
==================================================================*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  font-size: 1rem;
}

body {
  margin: 0;
  line-height: 1.5;
  background-color: #ffffff;
}

ul {
  list-style: none;
  margin-top: 0;
}

a {
  text-decoration: none;
}

/*============================================================================
* Navbar
*===========================================================================*/

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  margin-bottom: 30px;
}

.navbar__nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.nav__link {
  padding: .5rem 0;
}

/*============================================================================
* Layout and positioning (Flexbox)
* ===========================================================================*/

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/*=============================================================================
* Media Queries for different
*============================================================================*/

/* CSS to use on tablet or larger */
@media (min-width: 48rem) {
  .container {
    max-width: 46rem;
  }
  .navbar__nav {
    flex-direction: row;
  }
  .navbar__nav .nav__link {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

/* CSS to use for netbooks and larger */
@media (min-width: 64rem) {
  .container {
    max-width: 62rem;
  }
}

/* CSS to use for notebooks and desktops */
@media (min-width: 75rem) {
  .container {
    max-width: 73rem;
  }
}

